<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid container-fluid-custom py-md-5 mb-5">
        <main>
            <div class="row py-md-5 txt-center justify-content-center">
                <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                    <h1 class="display-2 fw-bold mb-4 position-relative home-title text-center">
                        Page Not Found.
                    </h1>
                    <a href="/" class="btn btn-primary btn-lg">Explore Notes.</a>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
