*{
    margin: 0;
    background-color: rgb(8, 8, 8);
}

.container{
    display: inline-block;
    margin-top: 200px;
}

.line{
    position: absolute;
    margin-top: 137px;
    width: 1532px;
    border: 0.5px solid rgb(45, 45, 45);
}

.Search{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 650px;
    margin-top: 100px;
    margin-right: 10px;
    height: 80px;
    width: 300px;
    background-color: rgb(27 27 27);
    border-radius: 8px;
}

.Search > input{
    outline: none;
    background-color: rgb(48 48 48);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 38px;
    width: 300px;
    padding: 8px;
    width: 150px;
    color: white;
    border: 0px;
}

.in:focus{
    animation: glow 800ms ease-out infinite alternate;
    border: 1px solid rgb(18, 125, 18);
    box-shadow: 0px 0px 16px rgb(18, 125, 18);
}

.s{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 7px;
    width: 60px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(48 48 48);
    border-left: 1px solid black;
}

.s:hover{
    color: #079a3a;
    background-color: rgb(57, 56, 56);
}

@keyframes glow {
    0%{
        border-color: #393;
        box-shadow: 0px 0px 5px rgba(0, 255, 0, .2), inset 0px 0px 5px rgba(0,255,0,.1), 0 2px 0 #000;;
    }
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}
